CLIENT_GATEWAY_PORT=

NATS_SERVERS=

PAYMENTS_MS_PORT=

AUTH_MS_PORT=
# https://cloud.mongodb.com/v2/6779b4f66f72a04582768d7c#/clusters
AUTH_MS_DATABASE_URL=

# https://dashboard.stripe.com/apikeys
STRIPE_SECRET=
# para obtener el secreto de webhooks ejecutar "stripe listen" en el CLI para pruebas locales
STRIPE_WEBHOOK_SECRET=
STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=